@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --color-zr-red: rgb(138,	26,	16);
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.wrapper {
  max-width: 90%;
  min-height: 70vh;
  margin: auto;
  margin-top: 130px;
}
@media (min-width: 1400px) {
  .wrapper {
    max-width: 80%;
  }
}
.elem_hidden {
  opacity: 0;
  height: 0;
  position: absolute;
  top: -30px;
}
.dropdown-menu, .navigation-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding-left: 20px;
  gap: 30px;
}
.navigation-menu {
  background-color: var(--color-zr-red);
  top: 0;
  box-shadow: 3px 1px gray;
  height: 60px;
  z-index: 5;
}
.dropdown-menu {
  color: white;
  top: 0;
  height: 40px;
  background-color: rgb(51, 51, 51);
}
.sm-icon {
  height: 23px;
}
.navigation-menu__item {
  text-decoration: none;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
}
.dropdown-button {
  margin-bottom: 5px;
  height: 20px;
  cursor: pointer;
}
.company__info {
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto 400px;
}
.magazine__cover {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  border-radius: 2px;
}
.description__text {
  font-size: 20px;
  line-height: 1.2;
  padding: 10px 30px;
  text-align: justify;
}
.event {
  display: grid;
  grid-template-columns: 2fr 5fr;
}
.event__form {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  padding-left: 40px;
  /* justify-content: center; */
  gap: 5px;
}
.event__name, .event__year {
  width: 210px;
  font-size: 18px;
  text-align: center;
  padding: 1px 1px;
  border: 3px groove red;
  border-radius: 3px;
}
.event__year {
  width: 100px;
}
.event__text {
  font-size: 18px;
}
.event__gallery {
  margin: auto;
  margin-top: 30px;
  height: 580px;
  width: 90%;
}
@media (min-width: 1400px) {
  .event__gallery {
    height: 660px;
  }
}
.event__form__label {
  max-width: min-content;
  color: darkblue;
  text-shadow: 1px 1px gray;
  margin-left: 10px;
  text-align: right;
  font-size: 18px;
  padding-right: 3px;
  display: flex;
  align-items: center;
}
@media (min-width: 1200px) {
  .event__form__label {
    max-width: fit-content;
  }
}
.pic__small, .pic__large {
  border: 2.4px ridge;
  border-radius: 3px;
  background-position: center;
}
footer {
  display: flex;
  flex-direction: column;
  height: 150px;
  background-color: rgb(51, 51, 51);
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  color: white;
}
.event__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.diag__header {
  text-align: center;
  padding: 0 20px;
  font-size: 30px;
}
.diag__container {
  position: relative;
  width: 600px;
  height: 400px;
}
.diag__bar {
  background: linear-gradient(yellow,red);
  
  position: absolute;
  border: groove 3px gray;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.diag__label {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: -23px;
}
.diag__value {
  font-size: 20px;
  font-weight: 500;
}
.text__animate {
  font-size: 70px;
  margin-top: 100px;
}
.figures__visual {
  display: grid;
  grid-template-columns: 600px auto;
}
.figures__diag {
  align-items: center;
}
.figures__cards {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  align-items: center;
}
.figures__cards__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.figures__cards__card__text {
  padding: 0 30px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
.figures__cards__card__data {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--color-zr-red);
  text-shadow: 1px 2px 3px gray;
}
.figures__cards__card__icon {
  height: 80px;
}
.facts__resume {
  margin-top: 100px;
  font-size: 36px;
  text-align: center;
  color: brown;
}
.price-list {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
table {
  border-collapse: collapse;
  border: 2px ridge;
}
td, th{
  border: 2px ridge;
  padding: 5px 4px;
}
.table__finals {
  background-color: bisque;
  font-weight: 500;
}
.price-list__prices {
  min-height: 550px;
}
.price-list__specimen {
  padding-left: 15px ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-list__specimen_screen {
  max-height: 550px;
  max-width: 95%;
}
.footer__text {
  margin-bottom: 0;
}

.mediaplan__form {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  /* justify-content: center; */
  gap: 5px;
}

.mediaplan__form__label {
  color: darkblue;
  text-shadow: 1px 1px gray;
  margin-left: 10px;
  text-align: right;
  font-size: 16px;
  padding-right: 3px;
  display: flex;
  align-items: center;
}
.mediaplan__form__site, .mediaplan__form__format, .mediaplan__form__month, .mediaplan__form__views {
  width: 100px;
  font-size: 16px;
  text-align: center;
  padding: 1px 1px;
  border: 2px groove red;
  border-radius: 3px;
}
.mediaplan__form__format {
  width: 160px
}
.mediaplan__form__month, .mediaplan__form__views {
  width: 80px;
}